build-tools/
c4c-integration/
hybris-ems/
hybris-Mobile-Apps-SDK/
hybris-sbg/
installer/
licenses/

*.class
*platformhome.properties
*.css.map
*.orig

hybris/
/extensions/*/*/bin
/extensions/*/*/classes
/extensions/*/*/eclipsebin
/extensions/*/*/gensrc
/extensions/*/*/testclasses
/extensions/*/*/extensioninfo.xsd
/extensions/*/*/platformhome.properties
/extensions/*/*/build.xml
/extensions/*/*/ruleset.xml
/extensions/*/*/resources/items.xsd
/extensions/*/*/resources/beans.xsd
/extensions/*/*/resources/*/*-testclasses.xml
/extensions/*/*/resources/*/*-webtestclasses.xml
/extensions/*/*/hmc/bin
/extensions/*/*/hmc/classes
/extensions/*/*/hmc/resources/hmc.xsd
/extensions/*/*/web/addonsrc
/extensions/*/*/web/testclasses
/extensions/*/*/web/webroot/_ui/addons
/extensions/*/*/web/webroot/WEB-INF/classes
/extensions/*/*/web/webroot/WEB-INF/messages/addons
/extensions/*/*/web/webroot/WEB-INF/tags/addons
/extensions/*/*/web/webroot/WEB-INF/tld/addons
/extensions/*/*/web/webroot/WEB-INF/views/addons
/extensions/*/*/web/commonwebsrc
/extensions/*/*/web/webroot/WEB-INF/_ui-src/addons/
/extensions/*/*/web/webroot/cmscockpit/
/extensions/*/*/web/webroot/cockpit/
/extensions/*/*/.settings
/extensions/*/*/idea-module-files*
/extensions/*/*/checkstyle
/extensions/*/*/.pmd
/extensions/*/*/.springBeans
/extensions/*/*/.classpath
/extensions/*/*/.project
/extensions/*/*/.externalToolBuilders
/extensions/*/*/resources/generated-*-web-spring.xml
/extensions/*/*/web/webroot/WEB-INF/lib/core-webservices.jar
/extensions/*/*/resources/wro_addons.xml

/extensions/*/bin
/extensions/*/classes
/extensions/*/eclipsebin
/extensions/*/gensrc
/extensions/*/testclasses
/extensions/*/extensioninfo.xsd
/extensions/*/platformhome.properties
/extensions/*/build.xml
/extensions/*/ruleset.xml
/extensions/*/resources/items.xsd
/extensions/*/resources/beans.xsd
/extensions/*/resources/*/*-testclasses.xml
/extensions/*/resources/*/*-webtestclasses.xml
/extensions/*/hmc/bin
/extensions/*/hmc/classes
/extensions/*/hmc/resources/hmc.xsd
/extensions/*/web/addonsrc
/extensions/*/web/testclasses
/extensions/*/web/webroot/_ui/addons
/extensions/*/web/webroot/WEB-INF/classes
/extensions/*/web/webroot/WEB-INF/messages/addons
/extensions/*/web/webroot/WEB-INF/tags/addons
/extensions/*/web/webroot/WEB-INF/tld/addons
/extensions/*/web/webroot/WEB-INF/views/addons
/extensions/*/web/commonwebsrc
/extensions/*/web/webroot/WEB-INF/_ui-src/addons/
/extensions/*/web/webroot/cmscockpit/
/extensions/*/web/webroot/cockpit/
/extensions/*/.settings
/extensions/*/idea-module-files*
/extensions/*/checkstyle
/extensions/*/.pmd
/extensions/*/.springBeans
/extensions/*/.classpath
/extensions/*/.project
/extensions/*/.externalToolBuilders
/extensions/*/resources/generated-*-web-spring.xml
/extensions/*/web/webroot/WEB-INF/lib/core-webservices.jar
/extensions/*/resources/wro_addons.xml
/extensions/*/*/node_modules
/extensions/*/*/**/**/**/**/**/**/*.min.js
/extensions/*/*/**/**/**/**/**/**/*.min.css
/extensions/*/*/**/**/**/**/**/**/*.css.map
/extensions/*/*/**/**/**/**/**/**/*.js.map
/config/.classpath
/config/.project
/config/*.iml
/config/.settings*

/resources/*.iml
/resources/script/*.md5
/resources/script/*.zip
/.idea*
/idea-module-files
.DS_Store
findbugs.xml
velocity.log
checkstyle_report.*
.lastupdate
.checkstyle

/extensions/*/*/blabla.impex
/extensions/*/*/blabla.xml

/.metadata/
/RemoteSystemsTempFiles/
/config/WebContent/
/resources/.classpath
/resources/.project
/resources/.settings/
extensions/vfc/vfcstorefront/npm-debug.log

buildStart.sh
updateStart.sh
